/* Styles for the menu and content */
body {
    margin: 0;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fc;
    border-radius: 5px;
    padding: 10px;
    height: 378px;
    border: 1px solid #e5e5e5;
    position: relative; /* Add this to make sure z-index works */
}

body::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    background-clip: padding-box;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 222);
}

body::-webkit-scrollbar-thumb {
    background: greatestIndex;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(255, 255, 255);
}

/* Styles for the content iframe */
.feedback-message.hidden {
    opacity: 0; /* Initial hidden opacity */
}

.feedback-message {
    /* padding: 10px; */
    border-radius: 5px;
    display: flex;
    padding: 10px;
    background: white;
    border: 1px solid #e5e5e5;
    opacity: 1; /* Initial hidden opacity */
    box-shadow: 0px 1px 2px 0px #777fb169;
    transition: opacity 0.8s ease-in-out; /* Add a transition effect */
}

.options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.item-container:hover {
    background-color: #ff6565;
    border: 1px solid white;
    color: white;
}
