/* Styles for the body and content */
body {
    margin: 0;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fc;
    border-radius: 5px;
    padding: 10px;
    height: 378px;
    border: 1px solid #e5e5e5;
    position: relative;
}

body::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    background-clip: padding-box;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 222);
}

body::-webkit-scrollbar-thumb {
    background: greatestIndex;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(255, 255, 255);
}

/* Styles for the options container */
.options-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
}

details {
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px #777fb169;
    max-width: 100%;
    box-sizing: border-box;
}

summary {
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap; /* Prevent long text in the summary from overflowing */
    overflow: hidden;
    text-overflow: ellipsis;
}
